{% extends 'base.html' %}

{% block title %}
    Students list
{% endblock %}


{% block content %}

<!--Accordion + search for-->
{% include "students/includes/search_form.html" %}
<p class = "mt-2"><strong>Count of students:{{object_list.qs.count}}</strong>&nbsp;&nbsp;</p>

<!--Table (students_list)-->
{%with obj_list=object_list.qs%}
    {%include 'includes/students_list_table.html'%}
{%endwith%}

{% endblock %}


<!--<table class="table table-dark table-hover">-->
<!--    <tr>-->
<!--        <th>№</th>-->
<!--        <th>First name</th>-->
<!--        <th>Last name</th>-->
<!--        <th>Age</th>-->
<!--        <th>Birthday</th>-->
<!--        <th>Group</th>-->
<!--        <th>Enroll date</th>-->
<!--        <th>Graduate date</th>-->
<!--        <th><i class="bi bi-telephone"></i></th>-->
<!--        <th><i class="bi bi-pencil-square"></i></th>-->
<!--        <th><i class="bi bi-trash-fill"></i></th>-->
<!--    </tr>-->

<!--&lt;!&ndash;Table content&ndash;&gt;-->