{% extends 'base.html' %}

{% block title %}
    Groups list
{% endblock %}


{% block content %}

<!--Accordion + search for-->
{% include "groups/includes/search_form.html" %}

<p><strong>Count of groups:{{filter_groups.qs.count}}</strong></p>

<!--Table headers-->
<table class="table table-dark table-hover">
    <tr>
        <th>№</th>
        <th>Course name</th>
        <th>Start date</th>
        <th>Number of students</th>
<!--        <th>Teacher name</th>-->
        <th><i class="bi bi-pencil-square"></i></th>
        <th><i class="bi bi-trash-fill"></i></th>
    </tr>

<!--Table content-->
{%for group in filter_groups.qs%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{group.course_name}}</td>
        <td>{{group.start_date}}</td>
        <td>{{group.number_of_students}}</td>
<!--        <td>{{group.teacher_name}}</td>-->
        <td><a class="btn btn-outline-warning" href="{% url 'groups:update' group.id %}">Edit</a></td>
        <td><a class="btn btn-outline-danger" href="{% url 'groups:delete' group.id %}">Del</a></td>
    </tr>

{% endfor %}
{% endblock %}
    </table>



<!--Форма, написанная вручную-->
<!--    <form method="get">-->
<!--        <label for="cname">Course:</label>-->
<!--        <input type="text" id="cname" name="course_name"></br></br>-->

<!--        <label for="sdate">Start Date:</label>-->
<!--        <input type="date" id="sdate" name="start_date"></br></br>-->

<!--        <label for="nfs">Number of Students:</label>-->
<!--        <input type="number" id="nfs" name="number_of_students"></br></br>-->

<!--        <label for="tname">Teacher Name:</label>-->
<!--        <input type="text" id="tname" name="teacher_name"></br></br>-->

<!--        <input type="submit" value="Search">-->
<!--    </form>-->