<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {% block title %}{% endblock %}</title>
    <style>{% block style_options %}{% endblock %}</style>

</head>
<body>
    <table>
        <tr>
            <td><b><a href="/">Home</a></b>&nbsp;&nbsp;</td>
            <td><b>Students:</b></td>
            <td><a href="{% url 'students:get' %}">List</a>&nbsp;&nbsp;</td>
            <td><a href="{% url 'students:create' %}">Create</a></td>
            <td><b>&nbsp;&nbsp;Teachers:</b></td>
            <td><a href="/teachers/">List</a>&nbsp;&nbsp;</td>
            <td><a href="/teachers/create/">Create</a></td>
            <td><b>&nbsp;&nbsp;Groups:</b></td>
            <td><a href="/groups/">List</a>&nbsp;&nbsp;</td>
            <td><a href="/groups/create/">Create</a></td>
        </tr>

    </table>


    {% block content %}

    {% endblock %}
</body>
</html>